In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
dataset = [
    ['Apple','Beer','Rice','Chicken'],
    ['Apple','Beer','Rice'],
    ['Apple','Beer'],
    ['Apple','Pear'],
    ['Milk','Beer','Rice','Chicken'],
    ['Milk','Beer','Rice'],
    ['Milk','Beer'],
    ['Milk','Pear']
]

In [50]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
encoded = te.fit_transform(dataset)
encoded

array([[ True,  True,  True, False, False,  True],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False, False],
       [ True, False, False, False,  True, False],
       [False,  True,  True,  True, False,  True],
       [False,  True, False,  True, False,  True],
       [False,  True, False,  True, False, False],
       [False, False, False,  True,  True, False]])

In [51]:
te.columns_

['Apple', 'Beer', 'Chicken', 'Milk', 'Pear', 'Rice']

In [52]:
df = pd.DataFrame(encoded, columns=te.columns_)
df

   Apple   Beer  Chicken   Milk   Pear   Rice
0   True   True     True  False  False   True
1   True   True    False  False  False   True
2   True   True    False  False  False  False
3   True  False    False  False   True  False
4  False   True     True   True  False   True
5  False   True    False   True  False   True
6  False   True    False   True  False  False
7  False  False    False   True   True  False

In [53]:
from mlxtend.frequent_patterns import fpgrowth,association_rules
#1.Find frequent itemset
freq_itemset = fpgrowth(df, min_support=0.25, use_colnames=True)

In [54]:
freq_itemset

    support               itemsets
0     0.750                 (Beer)
1     0.500                 (Rice)
2     0.500                (Apple)
3     0.250              (Chicken)
4     0.250                 (Pear)
5     0.500                 (Milk)
6     0.500           (Rice, Beer)
7     0.375          (Beer, Apple)
8     0.250          (Rice, Apple)
9     0.250    (Rice, Beer, Apple)
10    0.250        (Rice, Chicken)
11    0.250        (Beer, Chicken)
12    0.250  (Rice, Beer, Chicken)
13    0.375           (Beer, Milk)
14    0.250           (Rice, Milk)
15    0.250     (Rice, Beer, Milk)

In [55]:
rules = association_rules(freq_itemset, metric='confidence', min_threshold=0.5)
rules.shape

(28, 10)

In [56]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Rice),(Beer),0.500,0.750,0.500,1.000000,1.333333,0.1250,inf,0.500000
1,(Beer),(Rice),0.750,0.500,0.500,0.666667,1.333333,0.1250,1.50,1.000000
2,(Beer),(Apple),0.750,0.500,0.375,0.500000,1.000000,0.0000,1.00,0.000000
3,(Apple),(Beer),0.500,0.750,0.375,0.750000,1.000000,0.0000,1.00,0.000000
4,(Rice),(Apple),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
5,(Apple),(Rice),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
6,"(Rice, Beer)",(Apple),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
7,"(Rice, Apple)",(Beer),0.250,0.750,0.250,1.000000,1.333333,0.0625,inf,0.333333
8,"(Beer, Apple)",(Rice),0.375,0.500,0.250,0.666667,1.333333,0.0625,1.50,0.400000
9,(Rice),"(Beer, Apple)",0.500,0.375,0.250,0.500000,1.333333,0.0625,1.25,0.500000
10,(Apple),"(Rice, Beer)",0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
11,(Rice),(Chicken),0.500,0.250,0.250,0.500000,2.000000,0.1250,1.50,1.000000
12,(Chicken),(Rice),0.250,0.500,0.250,1.000000,2.000000,0.1250,inf,0.666667
13,(Chicken),(Beer),0.250,0.750,0.250,1.000000,1.333333,0.0625,inf,0.333333
14,"(Rice, Beer)",(Chicken),0.500,0.250,0.250,0.500000,2.000000,0.1250,1.50,1.000000
15,"(Rice, Chicken)",(Beer),0.250,0.750,0.250,1.000000,1.333333,0.0625,inf,0.333333
16,"(Beer, Chicken)",(Rice),0.250,0.500,0.250,1.000000,2.000000,0.1250,inf,0.666667
17,(Rice),"(Beer, Chicken)",0.500,0.250,0.250,0.500000,2.000000,0.1250,1.50,1.000000
18,(Chicken),"(Rice, Beer)",0.250,0.500,0.250,1.000000,2.000000,0.1250,inf,0.666667
19,(Beer),(Milk),0.750,0.500,0.375,0.500000,1.000000,0.0000,1.00,0.000000
20,(Milk),(Beer),0.500,0.750,0.375,0.750000,1.000000,0.0000,1.00,0.000000
21,(Rice),(Milk),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
22,(Milk),(Rice),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
23,"(Rice, Beer)",(Milk),0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000
24,"(Rice, Milk)",(Beer),0.250,0.750,0.250,1.000000,1.333333,0.0625,inf,0.333333
25,"(Beer, Milk)",(Rice),0.375,0.500,0.250,0.666667,1.333333,0.0625,1.50,0.400000
26,(Rice),"(Beer, Milk)",0.500,0.375,0.250,0.500000,1.333333,0.0625,1.25,0.500000
27,(Milk),"(Rice, Beer)",0.500,0.500,0.250,0.500000,1.000000,0.0000,1.00,0.000000

In [57]:
rules = rules[['antecedents','consequents','support','confidence']]

In [58]:
rules

        antecedents      consequents  support  confidence
0            (Rice)           (Beer)    0.500    1.000000
1            (Beer)           (Rice)    0.500    0.666667
2            (Beer)          (Apple)    0.375    0.500000
3           (Apple)           (Beer)    0.375    0.750000
4            (Rice)          (Apple)    0.250    0.500000
5           (Apple)           (Rice)    0.250    0.500000
6      (Rice, Beer)          (Apple)    0.250    0.500000
7     (Rice, Apple)           (Beer)    0.250    1.000000
8     (Beer, Apple)           (Rice)    0.250    0.666667
9            (Rice)    (Beer, Apple)    0.250    0.500000
10          (Apple)     (Rice, Beer)    0.250    0.500000
11           (Rice)        (Chicken)    0.250    0.500000
12        (Chicken)           (Rice)    0.250    1.000000
13        (Chicken)           (Beer)    0.250    1.000000
14     (Rice, Beer)        (Chicken)    0.250    0.500000
15  (Rice, Chicken)           (Beer)    0.250    1.000000
16  (Beer, Chicken)           (Rice)    0.250    1.000000
17           (Rice)  (Beer, Chicken)    0.250    0.500000
18        (Chicken)     (Rice, Beer)    0.250    1.000000
19           (Beer)           (Milk)    0.375    0.500000
20           (Milk)           (Beer)    0.375    0.750000
21           (Rice)           (Milk)    0.250    0.500000
22           (Milk)           (Rice)    0.250    0.500000
23     (Rice, Beer)           (Milk)    0.250    0.500000
24     (Rice, Milk)           (Beer)    0.250    1.000000
25     (Beer, Milk)           (Rice)    0.250    0.666667
26           (Rice)     (Beer, Milk)    0.250    0.500000
27           (Milk)     (Rice, Beer)    0.250    0.500000

Sort the Rules

In [59]:
rules.sort_values(by = ['confidence','support'], ascending=False)

        antecedents      consequents  support  confidence
0            (Rice)           (Beer)    0.500    1.000000
7     (Rice, Apple)           (Beer)    0.250    1.000000
12        (Chicken)           (Rice)    0.250    1.000000
13        (Chicken)           (Beer)    0.250    1.000000
15  (Rice, Chicken)           (Beer)    0.250    1.000000
16  (Beer, Chicken)           (Rice)    0.250    1.000000
18        (Chicken)     (Rice, Beer)    0.250    1.000000
24     (Rice, Milk)           (Beer)    0.250    1.000000
3           (Apple)           (Beer)    0.375    0.750000
20           (Milk)           (Beer)    0.375    0.750000
1            (Beer)           (Rice)    0.500    0.666667
8     (Beer, Apple)           (Rice)    0.250    0.666667
25     (Beer, Milk)           (Rice)    0.250    0.666667
2            (Beer)          (Apple)    0.375    0.500000
19           (Beer)           (Milk)    0.375    0.500000
4            (Rice)          (Apple)    0.250    0.500000
5           (Apple)           (Rice)    0.250    0.500000
6      (Rice, Beer)          (Apple)    0.250    0.500000
9            (Rice)    (Beer, Apple)    0.250    0.500000
10          (Apple)     (Rice, Beer)    0.250    0.500000
11           (Rice)        (Chicken)    0.250    0.500000
14     (Rice, Beer)        (Chicken)    0.250    0.500000
17           (Rice)  (Beer, Chicken)    0.250    0.500000
21           (Rice)           (Milk)    0.250    0.500000
22           (Milk)           (Rice)    0.250    0.500000
23     (Rice, Beer)           (Milk)    0.250    0.500000
26           (Rice)     (Beer, Milk)    0.250    0.500000
27           (Milk)     (Rice, Beer)    0.250    0.500000

Filter the Rules

In [60]:
nrules = rules[rules['confidence'] > 0.5]
nrules.sort_values(by = ['confidence','support'], ascending=False)

        antecedents   consequents  support  confidence
0            (Rice)        (Beer)    0.500    1.000000
7     (Rice, Apple)        (Beer)    0.250    1.000000
12        (Chicken)        (Rice)    0.250    1.000000
13        (Chicken)        (Beer)    0.250    1.000000
15  (Rice, Chicken)        (Beer)    0.250    1.000000
16  (Beer, Chicken)        (Rice)    0.250    1.000000
18        (Chicken)  (Rice, Beer)    0.250    1.000000
24     (Rice, Milk)        (Beer)    0.250    1.000000
3           (Apple)        (Beer)    0.375    0.750000
20           (Milk)        (Beer)    0.375    0.750000
1            (Beer)        (Rice)    0.500    0.666667
8     (Beer, Apple)        (Rice)    0.250    0.666667
25     (Beer, Milk)        (Rice)    0.250    0.666667

In [61]:
nrules[nrules['antecedents'] == {'Rice'}]

  antecedents consequents  support  confidence
0      (Rice)      (Beer)      0.5         1.0

In [62]:
nrules[nrules['antecedents'] == {'Rice'}]['consequents'] #recommendation

0    (Beer)
Name: consequents, dtype: object

In [63]:
nrules[nrules['antecedents'] == {'Apple', 'Beer'}][['consequents','confidence']] #recommendation

  consequents  confidence
8      (Rice)    0.666667

Export the Rules

In [64]:
nrules.to_csv('rules.csv',index=False)