In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('fb.csv')
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [3]:
Unpaid_count = sum(df.Paid == 0)
Unpaid_count

360

In [4]:
#Paid_count = sum(df.Paid[df.Paid != 0]) #should remove NaN for this
Paid_count = sum(df.Paid != 0)
Paid_count

140

In [5]:
df[['Type','Post Month','like','comment','share']] #2

       Type  Post Month    like  comment  share
0     Photo          12    79.0        4   17.0
1    Status          12   130.0        5   29.0
2     Photo          12    66.0        0   14.0
3     Photo          12  1572.0       58  147.0
4     Photo          12   325.0       19   49.0
..      ...         ...     ...      ...    ...
495   Photo           1    53.0        5   26.0
496   Photo           1    53.0        0   22.0
497   Photo           1    93.0        4   18.0
498   Photo           1    91.0        7   38.0
499   Photo           1    91.0        0   28.0

[500 rows x 5 columns]

In [6]:
df2 = df[df['Post Month'] == 9]
df2['Page total likes'].mean() #3.No. of likes in sep month

135185.33333333334

In [7]:
df[df['Type'] == 'Link'].info() #4.info of post which are links

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, 22 to 492
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     22 non-null     int64
 1   Type                                                                 22 non-null     object
 2   Category                                                             22 non-null     int64
 3   Post Month                                                           22 non-null     int64
 4   Post Weekday                                                         22 non-null     int64
 5   Post Hour                                                            22 non-null     int64
 6   Paid                                                                 22 non-null     float64
 7   Lifetime Post Total Reach                                            22 non-null     int64
 8   Lifetime Post Total Impressions                                      22 non-null     int64
 9   Lifetime Engaged Users                                               22 non-null     int64
 10  Lifetime Post Consumers                                              22 non-null     int64
 11  Lifetime Post Consumptions                                           22 non-null     int64
 12  Lifetime Post Impressions by people who have liked your Page         22 non-null     int64
 13  Lifetime Post reach by people who like your Page                     22 non-null     int64
 14  Lifetime People who have liked your Page and engaged with your post  22 non-null     int64
 15  comment                                                              22 non-null     int64
 16  like                                                                 22 non-null     float64
 17  share                                                                22 non-null     float64
 18  Total Interactions                                                   22 non-null     int64
dtypes: float64(3), int64(15), object(1)
memory usage: 3.4+ KB

In [8]:
df3 = df[df['Type'] == 'Video']
df3.share.sum() #5.total share for video posts

365.0

In [9]:
df['Post Hour'].mode() #6.maximum posts posted in which hour

0    3
Name: Post Hour, dtype: int64

In [11]:
df4 = df[df['Post Month'] == 10][['Post Weekday','Total Interactions']]
df4

     Post Weekday  Total Interactions
95              6                 185
96              6                  65
97              5                 142
98              5                 378
99              4                 430
100             4                   0
101             4                1626
102             3                  79
103             3                  17
104             2                  72
105             2                1136
106             1                 222
107             1                 238
108             7                 148
109             7                 271
110             6                  34
111             6                   0
112             6                 139
113             1                  97
114             7                  17
115             7                   6
116             7                 458
117             7                   7
118             7                   9
119             7                   8
120             7                   2
121             7                 232
122             7                   4
123             7                   6
124             7                   7
125             7                   9
126             7                 242
127             6                  10
128             6                   5
129             6                   3
130             6                  10
131             6                  10
132             6                  10
133             6                  12
134             6                  34
135             6                  68
136             5                  48
137             5                  39
138             5                 154
139             4                 100
140             4                 202
141             3                 265
142             3                1009
143             2                 447
144             2                  53
145             1                  96
146             1                 204
147             7                  94
148             7                 179
149             6                  35
150             6                 367
151             5                 200
152             5                 454
153             4                 193
154             4                 387

In [43]:
gr = df.groupby('Post Weekday')
gr['Total Interactions'].sum() #7.Weekday 4 has max no. of interactions ?

Post Weekday
1    16118
2    13230
3    18417
4    18758
5    13756
6    13187
7    12594
Name: Total Interactions, dtype: int64

In [65]:
df[(df['like'] > 200) & (df['share'] > 30)] #8.Likes>300,Shares>30

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
26,138458,Status,2,12,5,11,0.0,19552,34143,2806,2531,3420,17748,9824,1779,10,412.0,72.0,494
28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
38,138895,Status,2,12,7,9,0.0,17576,33058,5352,5202,6547,23135,11792,4104,11,227.0,31.0,269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,92079,Photo,1,2,6,13,0.0,158208,453213,2482,2319,3412,81938,20608,1034,9,268.0,36.0,313
468,91651,Photo,1,2,4,12,0.0,15288,31467,1573,1401,2110,28247,13312,1052,5,264.0,36.0,305
476,86909,Photo,1,1,6,10,1.0,37088,10966,2728,2288,3183,66311,34352,2021,7,579.0,47.0,633
480,86909,Photo,2,1,4,11,0.0,11484,20696,1762,1635,2741,8774,5124,722,56,360.0,99.0,515
488,85979,Photo,3,1,7,10,0.0,9700,17442,1407,1271,2007,8872,4876,660,21,277.0,80.0,378

In [144]:
df5 = df[df['Post Month'] == 11]
df5['Type'].values #9 ?

array(['Photo', 'Photo', 'Photo', 'Photo', 'Photo', 'Video', 'Photo',
       'Photo', 'Photo', 'Photo', 'Photo', 'Photo', 'Photo', 'Photo',
       'Photo', 'Photo', 'Photo', 'Photo', 'Photo', 'Photo', 'Photo',
       'Video', 'Status', 'Photo', 'Video', 'Photo', 'Photo', 'Photo',
       'Photo', 'Photo', 'Status', 'Photo', 'Photo', 'Photo', 'Status',
       'Photo', 'Link', 'Photo', 'Photo', 'Photo', 'Photo', 'Photo',
       'Photo', 'Photo', 'Photo'], dtype=object)

In [166]:
df5 = df[df['Paid'] == 1]
df5['Total Interactions'].mean(), df5['Total Interactions'].median() #10.Average,Median

(278.23021582733816, 158.0)